.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    color: white;
    margin: 3rem 0;
}

.controls button {
    background: none;
    border: none;
    cursor: pointer;
    color: #c3c3c3;
    transition: color 0.3s, transform 0.05s ease-in;
}

.controls button:active {
    transform: scale(0.85);
}

.pause-icon.playing,
.play-icon.playing {
    animation: colorShiftPause 5s linear infinite;
}

@keyframes colorShiftPause {
    0% {
        color: #ff90c0;
    }

    25% {
        color: #00eeff;
    }

    50% {
        color: #85baff;
    }

    75% {
        color: #d773ff;
    }

    100% {
        color: #00ffcc;
    }
}

.shuffle-button,
.repeat-button {
    color: #c3c3c3;
    transition: color 0.3s;
}

.shuffle-button.active,
.repeat-button.active {
    color: #02ffb3;
}

#shuffle,
#repeat {
    font-size: 1.5rem;

}

.controls button {
    font-size: 2.5rem;
}

/* ------------------------------------------------------------ MOBILE */
@media (max-width: 600px) {}

/* ------------------------------------------------------------ DESKTOP */

@media (min-width: 601px) {

    .controls {
        z-index: 10;
    }

}