.header {
    background-color: #f0f8ff88;
    color: #333;
    border-radius: 12px;
    border: 1px solid #ffffff;
    padding: 0.1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 18rem;
    margin: 5px auto 0;
    font-family: 'Comic Sans MS', 'Comic Neue', cursive;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 1.4em;
    font-weight: bold;
    background: linear-gradient(45deg, #ff6b6b, #f06595, #cc5de8, #845ef7, #5c7cfa, #339af0, #22b8cf, #000000, #000000, #000000, #000000, #000000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 3s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}