.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 20;
  animation: slideUpCurtain 0.5s ease-out forwards;
  border-top: 1px solid rgba(92, 92, 92, 0.5);
}

@keyframes slideUpCurtain {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.bottom-nav button {
  text-decoration: none;
  color: #ffffff;
  transition: background-color 0.3s ease-in, border-color 0.3s ease;
  background: transparent;
  display: flex;
  flex: 1;
  padding: 0.2rem 0;
  justify-content: center;
  align-items: center;
  border: none;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  flex-direction: column;
  outline: none;
  cursor: pointer;
}

.bottom-nav svg {
  animation: colorShiftNav 5s linear infinite;
}

@keyframes colorShiftNav {
  0% {
    color: #ff007f
  }

  10% {
    color: #ff9900
  }

  20% {
    color: #ccff00
  }

  30% {
    color: #00ff00
  }

  40% {
    color: #00ffff
  }

  50% {
    color: #0099ff
  }

  60% {
    color: #6600ff
  }

  70% {
    color: #cc00ff
  }

  80% {
    color: #ff00cc
  }

  90% {
    color: #ff0033
  }

  100% {
    color: #ff007f
  }
}

.bottom-nav button:hover {
  background-color: #dfdfdf3b;
  color: #ffffff;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideUpCurtain 0.15s ease-out forwards;
}

.modal-content {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .modal-overlay {
    background-color: #0e2136c6;
    z-index: 15;
  }
}