.container-online-users {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    gap: 2rem;
}

.loading-icon {
    font-size: 1.5rem;
    animation: spinner-online 1s linear infinite;
}

@keyframes spinner-online {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.container-online-users h1 {
    font-size: 1.2rem;
    color: #1c4677eb;
}

@media (max-width: 600px) {
    .container-online-users {
        flex-direction: column;
    }

    .container-online-users h1 {
        font-size: 0.8rem;
        color: #1c4777;
    }
}