:root {
    --online-users-color: aliceblue;
    --online-users-font: 10px;
    --online-users-font-sm: 8px;
    --online-users-gap: 2px;
    --online-users-padding: 5px;
    --spinner-duration: 1s;
}

.container-online-users {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    right: 0;
    gap: var(--online-users-gap);
    padding: var(--online-users-padding);
    color: var(--online-users-color);
}

.loading-icon {
    animation: spinner-online var(--spinner-duration) linear infinite;
}

.container-online-users h1,
.loading-icon {
    font-size: var(--online-users-font);
    color: #fffffffa;
}

@keyframes spinner-online {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 600px) {

    .loading-icon,
    .container-online-users h1 {
        font-size: var(--online-users-font-sm);
    }
}