.song-item {
    position: relative;
    padding-bottom: 10px;
    transition: background 0.3s ease-in-out;
}

.song-item.active {
    background: linear-gradient(90deg, rgba(255, 0, 255, 0.8), rgba(0, 255, 255, 0.8));
    animation: gradientAnimationSong 3s infinite ease-in-out;
    color: white;
}

.drag-handle {
    outline: none;
    width: 20px;
    height: 25px;
}

.drag-handle:hover {
    cursor: grab;
}

.drag-handle:active {
    cursor: grabbing;
}

.song-item.dragging {
    filter: drop-shadow(0 0 10px rgb(255, 255, 255));
}



@keyframes gradientAnimationSong {

    0%,
    75% {
        background: linear-gradient(90deg, rgba(255, 99, 132, 0.7), rgba(54, 162, 235, 0.7));
    }

    25% {
        background: linear-gradient(90deg, rgba(255, 159, 64, 0.7), rgba(75, 192, 192, 0.7));
    }

    50% {
        background: linear-gradient(90deg, rgba(75, 192, 192, 0.7), rgba(153, 102, 255, 0.7));
    }
}

.playlist-section {
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
}

.playlist-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.playlist-icon {
    margin-right: 0.5rem;
}

.song-list.cubical-view {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0.5rem;
}

.song-list.cubical-view .song-item {
    flex: 1 1 calc(33.333% - 1rem);
    height: 75px;
    font-size: 0.8rem;
    text-align: center;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 9px;
    flex-shrink: 0;
    flex-grow: 1;
}

.playlists-container {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.playlist-section {
    width: 48%;
    text-align: center;
}

.playlist-section h3 {
    font-size: 1.4rem;
    padding: 1rem;
    font-weight: bold;
    border: whitesmoke dashed 1px;
    margin-bottom: 10px;
    color: #ffffff;
}

ul {
    list-style-type: none;
    padding-left: 0;
}



.now-playing-big-gif {
    width: auto;
    height: 1.5rem;
    margin-right: 5px;
    vertical-align: middle;
}

h2 {
    font-size: 1.5rem;
    padding: 0.2rem;
    text-align: center;
    vertical-align: middle;
}

.song-list.list-view .song-item {
    padding: 20px;
    margin: 5px 0;
    background-color: #00276e;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
}

.song-list.cubical-view .song-item {

    background-color: #00276e;
    border-radius: 9px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
}


.song-item .fa-trash {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.song-item .fa-trash:hover {
    color: red;
}

.icon-container {
    display: flex;
}

.icon {
    cursor: pointer;
    font-size: 17px;
    transition: color 0.3s;
}

.icon:hover {
    color: #e20087;
    transform: scale(1.4);
}

.drop-line {
    border-top: 2px dashed #007bff;
    margin-top: 5px;
    padding: 5px 0;
    text-align: center;
}

@media (min-width: 769px) {

    .song-list.list-view {
        font-size: 1rem;
    }

}



@media (max-width: 480px)
/* ------------------------------------------------------------ MOBILE */
    {

    .playlists-container {
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 20px;
    }

    .playlist-section {
        width: 100%;
        margin-bottom: 20px;
    }


    .song-list.cubical-view {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 1rem;
    }

    .song-list.list-view {
        font-size: 0.7rem;
    }

    .song-list.cubical-view .song-item {
        flex: 1 1 calc(50% - 1rem);
        font-size: 0.7rem;
        width: 100%;
        padding: 15px;
        position: relative;
        transition: all 0.3s ease;
        flex-grow: 1;
    }

    .song-list.cubical-view .song-item:hover,
    .song-list.list-view .song-item:hover {
        background-color: none;
    }


}

@media (min-width: 481px) {

    .song-list.cubical-view .song-item:hover,
    .song-list.list-view .song-item:hover {
    background-color: #0eb085;
}
}