/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0;
    background: linear-gradient(270deg,
            rgba(255, 92, 51, 0.5),
            rgba(255, 204, 51, 0.5),
            rgba(51, 255, 204, 0.5),
            rgba(51, 204, 255, 0.5),
            rgba(255, 51, 204, 0.5),
            rgba(204, 51, 255, 0.5),
            rgba(168, 51, 255, 0.5),
            rgba(51, 51, 255, 0.5),
            rgba(51, 170, 255, 0.5),
            rgba(51, 255, 87, 0.5),
            rgba(255, 87, 51, 0.5),
            rgba(255, 51, 161, 0.5),
            rgba(255, 219, 51, 0.5));
    background-size: 600% 600%;
    animation: gradientAnimation 20s ease infinite;
    color: #333;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.view-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.view-icon {
    cursor: pointer;
    font-size: 1.5rem;
    color: #a8a8a8;
    transition: color 0.2s;
}

.view-icon.active {
    color: #f4ff60;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.shuffle-button,
.repeat-button {
    color: #c3c3c3;
    transition: color 0.3s ease;
}

.shuffle-button.active,
.repeat-button.active {
    color: #02ffb3;
}

.updown-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    background: linear-gradient(135deg, #1cffa8, #2575fc);
    color: #fff;
    padding: 12px;
    border-radius: 5%;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    transition: transform 0.3s;
    z-index: 10;
}

.updown-button:hover {
    transform: scale(1.1);
}

.updown-icon {
    font-size: 1.5em;
}

.youtube-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 30rem;
    border-radius: 15px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 10px;
}

.youtube-container.fullscreen {
    padding-top: 56.25%;
}

.youtube-container .video-wrapper {
    display: flex;
    width: 100%;
    padding-top: 56.25%;
    position: relative;
    z-index: 2000;
}

.youtube-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 15px;
}

.music-player {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin: 5px auto;
    padding: 30px;
    max-width: 95%;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease, color 0.3s ease;
}

.music-player {
    background-color: #282c34ac;
    color: #ffffff;
}

#player-container:fullscreen {
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    background: linear-gradient(270deg,
            rgba(51, 255, 204, 0.5),
            rgba(51, 194, 255, 0.5),
            rgba(51, 255, 204, 0.5),
            rgba(51, 204, 255, 0.5),
            rgba(185, 104, 247, 0.716),
            rgba(51, 170, 255, 0.5),
            rgba(51, 255, 201, 0.5),
            rgba(51, 221, 255, 0.5));
    background-size: 800% 800%;
    animation: gradientAnimation 20s ease-in-out infinite;
}

.controls {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: white;
    gap: 20px;
    font-size: 2rem;
}

.controls>* {
    transition: transform 0.2s;
}

.controls>*:hover {
    transform: scale(1);
    box-shadow: 1px 1px 1px 1px rgba(0, 255, 234, 0.704);
}

.controls>*:active {
    transform: scale(0.85);
}

.add-song {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.add-song input {
    width: 40%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #007bff;
    border-radius: 5px;
    transition: border 0.3s ease;
}

.add-song input:focus {
    border-color: #0056b3;
    outline: none;
}

button {
    display: inline-flex;
    align-items: center;
    padding: 10px 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.5s ease-in-out, transform 0.2s ease;
}

button:hover {
    background-color: #c540b1;
    transform: translateY(-2px);
}

button:active {
    transform: scale(0.9);
}

@media (min-width: 768px) {
    .music-player {
        padding: 15px;
        width: 100%;
        border-radius: 10px;
    }



    h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {

    .music-player {
        padding: 15px;
        width: 100%;
        border-radius: 10px;
    }

    .add-song {
        margin-top: 20px;
        display: flex;
        gap: 10px;
        justify-content: center;
    }

    .add-song input {
        font-size: 0.9rem;
        width: 100%;
    }

    button {
        font-size: 0.9rem;
    }

    .controls {
        gap: 10px;
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
    }
}