* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

body {
  background-color: #282c34;
  color: #333;
}

@keyframes gradientAnimation {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

.youtube-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin: 1.5rem auto;
  border: 1px solid rgba(255, 255, 255, 0.515);
  border-radius: 15px;
  overflow: hidden;
  background-color: #000000b5;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: bottom right;
  user-select: none;
  z-index: 5;
}

.youtube-container .video-wrapper {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
}

.youtube-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 15px;
}

.music-player {
  width: 100%;
  color: #ffffff;
  border-radius: 15px;
  transition: background 0.3s, color 0.3s;
}

.music-player h2 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



/* ----------------------------------------------------------- DESKTOP */
@media (min-width: 601px) {
  .youtube-container {
    max-width: 35rem;
  }

  .music-player {
    padding: 15px;
    border-radius: 10px;
  }

  .music-player h2 {
    font-size: 1.5rem;
    padding: 10px;
  }
}

/* ----------------------------------------------------------- MOBILE */
@media (max-width: 600px) {
  .youtube-container {
    border-radius: 10px;
  }

  .music-player {
    padding: 10px 0;
    border-radius: 10px;
  }

  .music-player h2 {
    font-size: 1.2rem;
  }
}