.title-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    gap: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.035);
    overflow: hidden;
}

.title-name {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    font-size: 1.5rem;
    animation: marquee 5s linear infinite;
}

.title-artist {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #ffffff;
    text-align: center;
}

.title-name {
    font-size: 1.5rem;
}

.title-artist {
    font-size: 1rem;
}

.title-name svg,
.title-artist svg {
    font-size: 1.2em;
    color: #ffffff;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    25% {
        transform: translateX(50%);
    }

    50% {
        transform: translateX(0%);
    }

    75% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(-150%);
    }
}


@media (max-width: 600px) {

    .title-container {
        width: 100%;
    }

    .title-name {
        margin-top: 1rem;
        font-size: 1rem;
        animation: marquee 10s linear infinite;
    }

    .title-artist {
        font-size: 1rem;
    }

    .title-name svg,
    .title-artist svg {
        font-size: 1em;
    }
}

@media (min-width: 601px) {
    .title-container {
        width: 35rem;
    }
}