QListWidget {
    font-size: 16px;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
}

QListWidget::item {
    margin: 5px;
    padding: 2px;
    border-radius: 10px;
    background-color: #f0f0f0;
}

QListWidget::item:hover {
    background-color: rgba(255, 99, 71, 0.05);
    border: 0.1px solid #ff6347;
    border-radius: 10px;
}

QListWidget::item:selected {
    background-color: rgba(0, 41, 106, 0.532);
    color: white;
    border: 0.1px solid #ff32e0;
}